<!DOCTYPE HTML>

<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../public/css/app.css" />
	</head>
	<body class="landing">
	<style>
body {
   background-image:url("../public/img/images.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">HOME</a></strong> </h1>
				<nav id="nav">
				
					<ul>
						<li><a href="index.html">About SEO</a></li>
						<li><a href="/assignment2">SEO AND SEM</a></li>
						<li><a href="/assignment3.html">SEO STRATEGIES</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner2">
				<h2>Search engine marketing</h2>
				<p>Reno Marco Fandino<br /> </p>
				
			</section>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>WHAT IS THE DIFFERENCE BETWEEN SEO AND SEM?</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>The difference between SEO and SEM is simply that Search Engine Optimization is part of Search engine marketing or Search marketing as it is widely known. Both processes aim in increasing visibility in search engines.

								<h3>Briefly Discussed the Following SEO strategies listed:</h3>


								<h4>Domain name strategy</h4>
								<p>Utilizing area name administrations sets your business up for progress where everything starts, your sites name. - A space name system can increase the value of the presence of your site by exploiting the most obvious part, the address. - You additionally need to build up and shield your spaces so you have a protected nearness on the web.</p>


								<h4>Linking Strategy</h4>
								<p>Links are an incredibly important factor to improve search performance, and they seem to be making a resurgence this year. If you have never executed a link building strategy its important to know all the facts, because link building is inherently risky, and only the highest quality of tactics are recommended. These resources will help beginners understand a bit more; it pays to read them before executing any campaign.</p>

								<h4>Title tags Strategy</h4>
								<p>Title tags are pretty much exactly what they sound like the title of the page. As a title, this tag should be used to describe what a user can expect to find on a particular page.When writing title tags with SEO in mind, your first goal should be to accurately describe the content of the page in question whether its a product, collection or informational page.</p>

								<h4>Meta description tags Startegy</h4>
								<p>A meta description is a type of meta tag used in HTML to describe what the web page is about. It appears as a quick snippet on the SERPs right beneath the link. Meta descriptions are not a ranking factor per se, as they have a very minimal impact on rankings, though they may have some impacts with personalized search results. Their main function is telling searchers what your web page is about. Having compelling meta descriptions aids in the click-through rate to your site. </p>

								<h4>Alt tags Strategy</h4>
								<p>The Alt tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images. And while all of todays web browsing includes many types of graphics, the alt tag remains an important part of making a site accessible to all users. The alt tag  is a descriptive line of HTML code that describes an image on a web page </p>

								<h4>Search Engine Indexing Strategy</h4>
								<p>The indexing mechanism is latent semantic indexing. In latent semantic indexing search engines, determine the relationship between different entities or part of a blog content. By understanding this relationship between different entities, search engines understand the context meaning of the blog content easily. </p>

								<h4>IS IT POSSIBLE TO COMBINE STRATEGIES IF YES WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?</h4>
								<p>Yes, I would combine Keyword strategy and Meta description tags strategy because   is Keyword research is the first step to a successful SEO strategy. Those successful with SEO understand what people are searching for when discovering their business in a search engine and Meta tags still play a vital role in SEO. </p>
							</div>
						</div>
					</div>
				</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/reno.fandino" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/RenoMarco" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
