<!DOCTYPE HTML>
<!<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../public/css/app.css" />
	</head>
	<body class="landing">
	<style>
body {
   background-image:url("../public/img/images.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>
	

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">HOME</a></strong> </h1>
				<nav id="nav">
				
					<ul>
						<li><a href="index.html">About SEO</a></li>
						<li><a href="assignment 2.html">SEO AND SEM</a></li>
						<li><a href="assignment 3.html">SEO STRATEGIES</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>The Ultimate Strategies</h2>
				<p>Reno Marco Fandino<br /> </p>
				
			</section>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					
					<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>What is the difference between<br> On-Page SEO an Off-Page SEO</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>On-Page SEO is the SEO on your actual page or blog. One of the most popular ways that search engines worldwide tend to rank websites is by looking for the prominence and frequency of certain keywords and phrases on various facets of your site, and assigning an appropriate degree of weight accordingly while Off-Page SEO is the use of keywords off your site. Search engines use mentions of your site, business name, and keywords used on other places across the web in order to determine your ranking in their results.

								<h3>Off-Page SEO TECHNIQUES</h3>


								<h4>Social Networking Sites</h4>
								<p>Social Networking is bigger than ever these days! Sometimes known as “Online Reputation Management”, getting involved with social media sites is the fundamental step with which you begin to advertise, market and build your online reputation within your niche.
              You need to sign up to the most popular social networking sites, such as; Facebook, LinkedIn, Twitter, Google+, etc., and create yourself a profile of your own. This allows you to extend your online network of contacts, to connect and interact with your friends, to share things with each other, and most importantly promote your website/blog and help build your online reputation.</p>


								<h4>Blogging</h4>
								<p>Blogging is one of the best ways to promote your website online! By writing a blog for your website, you give a reason for visitors to keep returning to your site and keep up to date with your latest posts. It also helps search engines to crawl your site more frequently, as they have to update your latest blog post entries, which ultimately helps you rank higher in search engine results pages (SERPs).</p>

								<h4>Blog Marketing	</h4>
								<p>post comments on other blogs within the same niche as yours, which allow you to add a link in the comments section. These links can then be crawled by search engines, helping to point them towards your site.  These blogs are commonly referred to as “Do-Follow” Blogs.</p>

								<h4>Forum Marketing</h4>
								<p>Find forums online that are related to your sites niche and get involved within that community. Reply to threads, answer peoples questions, offer advice, etc. This all helps to build up your reputation as someone who is an expert within that niche. Try to use “Do-Follow” Forums so that you can include a link to your site within your signature, which helps search engines crawl your site.</p>

								<h4>Search Engine Submission</h4>
								<p>Search engines will eventually find your site online, but that can take a while. To speed everything up, you should submit your website to the most popular search engines like Google, Yahoo, Bing, etc.</p>

								<h4>Directory Submission</h4>
								<p>Many people may say that directory submission is dead! I believe that it isn’t as you are increasing the likely hood of people seeing your website. It is purely based on how effectively we are selecting those directories and how efficiently we are choosing the category for submission. You could submit to general directories, but for maximum effect, you are better off submitting to niche directories. Of course, I agree that it gives quite delayed results, but it is worth doing it.</p>

								
							</div>

								<h4><center><br><br>Post Permalink Structure<br></center></h4>


								<h3>ON Page SEO TECHNIQUES</h3>
								<p>Making sure your URL is displayed correctly is an important on-page metric. Again, you should use your target keyword in the URL, and avoid using special characters, symbols, brackets, commas, etc. within the actual URL.
              Use dashes to differentiate the strings in your URL structure. These are called “pretty” permalinks and are supported by most web browsers.</p>


								<h4>Heading Tags</h4>
								<p>You should use heading tags to highlight various headings, sub-headings, and important points.
              In WordPress, the title tag is set at H1. You don’t really need to use any more H1 tags anywhere in the article. One is enough. For section breaks, stick to H2 and H3 tags.</p>

								<h4>Keyword Density	</h4>
								<p>You should keep the keyword density around 1.5% percent with a mix of LSI keywords. But as Matt Cutts explains in the video below, there is no real magic formula.
              Use your main keyword once in the first paragraph and again in the last paragraph. And use it in the content where it makes sense.</p>

								<h4>Meta Tags</h4>
								<p>ou should add a unique and relevant meta description with each blog post.
              Again, you should use your use targeted keyword in the meta description, but don’t keyword spam your description. While search engines pick up on keywords, it’s also important for users to click on the post. You need to write user-friendly meta descriptions that make sense and are related to your post.</p>

								
								
							</div>
						</div>
					</div>
				</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/reno.fandino" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/RenoMarco" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>