
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../public/css/app.css" />
	</head>


	
	<body class="landing">
	<style>
body {
   background-image:url("../public/img/images.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>
	  
	

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">HOME</a></strong> </h1>
				<h2><input type=button onClick=window.open("login.html","demo","width=550,height=300,left=150,top=200,toolbar=0,status=0,"); value="Signup"></h2>

				<nav id="nav">
				

				
					<ul>
						<li><a href="index.html">About SEO</a></li>
						<li><a href="assignment 2.html">SEO AND SEM</a></li>
						<li><a href="assignment 3.html">SEO STRATEGIES</a></li>
						
					</ul>

				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner1">
				<h2>What You Should Know About SEO</h2>
				<p>Reno Marco Fandino<br /></p>
				
			</section>


			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2> Search Engine Optimation</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
									<p><b>SEO</b> stands for “search engine optimization.” <br>It is the way toward getting activity from the "free," "natural," "article" or "regular" indexed lists on seek engines.In general, the prior (or higher positioned on the list items page), and all the more as often as possible a site shows up in the list items list,the more guests it will get from the web crawler's clients; these guests would then be able to be changed over into clients.</p>
							</div>
						</div>
					</div>
				</section>

				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Guidelines on how to read a Search Engine Results Page.</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Quality content is, of course, very important.<br>
   											 * Work to be a specialist, expert, and dependable in your industry.<br>
  											*  Online and offline reputation will vary in your ranking.<br>
   											*  YMYL pages are critically viewed<br>
   											*  Incorporate great supplemental substance on your site.<br>
   											*  Ads are okay as long as they do not disrupt the user experience from the main content.<br>
   											*  Make sure your website is mobile-friendly.<br>
   											* Check for broken links.<br>
   											* Prevent or remove spam comments.<br>
   											* Add fresh content to your website.<br>
   											* Update stale or out-of-date content.<br>
   											
							</div>
						</div>
					</div>
				</section>

				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Business in SEO</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>In the event that you are ready to go, there are some genuine and particular to having a predictable progressing Search Engine Optimization system.<br> For the first time in history of marketing, users are offering up their actual intent through the words that they type into search engines.<br> And more than ever before, you can measure the result of your SEO efforts as a marketing channel. While search engines dont charge you for listing your web pages, planning and implementing SEO in your organization is certainly not free.<br> You'll ned to spend the time, money, and resources to do this the right way.</p>
									<p>Fortunately this can enable you to acquire a colossal promoting reach, pull in more focused on guests, and measure the effect of your endeavors as far as an arrival on your venture.<br> More substance shows up on the web each second of ordinary.<br> And your costumers need search engines to help make sense of it all.<br> In fact, the bigger the web gets, the more search engines usage continues to grow.<br> People search to find answers to their questions.</p>
							</div>
						</div>
					</div>
				</section>

				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Important SEO expectation</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>*Set realistic goals<br>
   									*Measure the right thing<br>
   									*Set baseline<br>
   									*Pulling it together</p>
							</div>
						</div>
					</div>
				</section>

			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/reno.fandino" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/RenoMarco" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; </li>
						<li>SEO <a href="http://templated.co"></a></li>
						<li> <a href="http://unsplash.com"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../public/js/jquery.min.js"></script>
			<script src="../public/js/skel.min.js"></script>
			<script src="../public/js/util.js"></script>
			<script src="../public/js/main.js"></script>

	</body>
</html>